h2 {
  font-size: 2em;
  font-family: "Girassol", cursive;
  text-align: center;
  padding-top: 1%;
}
p {
  font-size: 1.5em;
  font-family: "IBM Plex Mono", monospace;
}
#root {
  background-image: image("waterfall.jpg");
  background-color: blanchedalmond;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
}
.tdCard {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin: 1%;
  background-color: mediumslateblue;
  border: 3px inset black;
}
.tdCard.complete {
  text-decoration: line-through;
  background-color: royalblue;
}
.inputForm {
  margin: 0 25%;
}
label {
  font-size: 1.2em;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}
input {
  width: 40%;
  margin: 1%;
  border: 1px inset black;
}
button {
  margin: 1%;
}
button.addItem {
  background-color: turquoise;
  border: 2px inset black;
  padding: 1%;
  color: antiquewhite;
  border-radius: 15px;
}
button.addItem:hover {
  background-color: black;
  border: 2px inset turquoise;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
button.clearComplete {
  background-color: black;
  border: 2px inset orangered;
  padding: 1%;
  color: antiquewhite;
  border-radius: 15px;
}
button.clearComplete:hover {
  background-color: orangered;
  border: 2px inset black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
